.ordersAdminPage {
  min-height: 100vh;
}
.ordersAdminPage .leftDiv {
  height: 100vh;
  overflow: scroll;
  padding-top: 150px;
  padding-bottom: 50px;
}
.ordersAdminPage .leftDiv::-webkit-scrollbar {
  display: none;
}
.ordersAdminPage .adminAddCategoryBtn {
  padding: 10px;
  text-decoration: none;
  border-radius: 3px;
  background-color: var(--green-color);
  color: #fff;
  border: 0;
}
.ordersAdminPage .adminDeleteCategorytBtn {
  text-decoration: none;
  padding: 7px;
  background-color: var(--green-color);
  margin-top: 5px;
  display: block;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  outline: 0;
  font-weight: 600;
  border-radius: 3px;
  color: #fff;
  transition: 0.3s;
  .ordersPage {
    padding-top: 150px;
    padding-bottom: 50px;
    min-height: 100vh;
  }
  .ordersPage .orderHeader {
    padding: 10px 0;
    border-bottom: 1px solid #d9dbdf;
  }
  .ordersPage .orderBtns {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
    color: black;
    background: none;
    padding: 5px 0;
    border: 1px solid #d9dbdf;
  }
  .ordersPage .searchBtn {
    width: 40%;
    padding: 10px 0;
    color: #fff;
    border-radius: 5px;
    border: 0;
    background-color: var(--green-color);
  }
  .ordersPage .searchInput {
    padding: 10px;
    width: 100%;
    border: solid 1px #d9dbdf;
    border-radius: 5px;
  }
  .ordersPage .searchInput:focus {
    border: 1px solid var(--green-color);
    box-shadow: none;
    outline: none;
  }
}
.ordersAdminPage .adminTableDiv {
  overflow: scroll;
}
.ordersAdminPage .adminTableDiv::-webkit-scrollbar {
  display: none;
}
.ordersAdminPage .searchBtn {
  width: 40%;
  padding: 10px 0;
  color: #fff;
  border-radius: 5px;
  border: 0;
  background-color: var(--green-color);
}
.ordersAdminPage .searchInput {
  padding: 10px;
  width: 100%;
  border: solid 1px #d9dbdf;
  border-radius: 5px;
}
.ordersAdminPage .searchInput:focus {
  border: 1px solid var(--green-color);
  box-shadow: none;
  outline: none;
}
.ordersAdminPage .orderHeader {
    padding: 10px 0;
    border-bottom: 1px solid #d9dbdf;
  }
  .ordersAdminPage .orderBtns {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 3px;
    color: black;
    background: none;
    padding: 5px 0;
    border: 1px solid #d9dbdf;
  }
